body {
    margin: 0 auto;
}

@font-face {
    font-family: 'Raleway';
    src: url("../font/raleway/Raleway-Regular.ttf");
}

.home {
    width: 100%;
    height: auto;
    float: left;
    background-image: url("../images/cover.png");
}

.container {
    width: 1170px;
    margin: 0 auto;
}

.home-text {
    float: left;
    clear: left;
    margin-top: 220px;
}

.home-text h4 {
    font-size: 18px;
    font-family: "Raleway";
    color: rgb(56, 56, 56);
    text-transform: uppercase;
    margin: 0;
    text-align: center;
}

.home-text h1 {
    font-size: 64px;
    font-family: "Raleway";
    color: rgb(56, 56, 56);
    text-transform: uppercase;
    margin: 0;
    padding: 2px;
}

.home-text-h3 {
    font-size: 17px;
    font-family: "Raleway";
    color: #e4e4e4;
    border-radius: 4px;
    background-color: rgb(51, 51, 51);
    width: 622px;
    box-sizing: border-box;
    padding: 10px;
    margin: 0;
}

.start-doing {
    float: left;
    clear: left;
}

.start-doing h3 {
    font-size: 26px;
    font-family: "Raleway";
    color: rgb(56, 56, 56);
    text-transform: uppercase;
    line-height: 0.769;
    margin: 0;
    float: left;
    padding-top: 55px;
}

.start-doing ul li {
    list-style: none;
    display: inline-block;
    margin-right: -8px;
}

.start-doing-left {
    float: left;
    margin: 0;
}

.start-doing-left ul {
    float: left;
    margin: 0;
    padding-top: 55px;
    padding-left: 12px;
    padding-right: 17px;
}

.left-img {
    float: left;
    padding-top: 61px;
}

.start-doing-right {
    float: left;
}

.start-doing-right ul {
    float: left;
    margin: 0;
    padding-top: 55px;
    padding-left: 12px;
}

.right-img {
    padding-top: 61px;
    padding-left: 18px;

}

.scroll-icon {
    float: left;
    clear: left;
    padding-left: 280px;
    padding-bottom: 220px;
    padding-top: 55px;
}

.logo {
    float: left;
    padding-top: 33px;
}

.menu {
    float: right;
    clear: right;
    font-size: 14px;
    font-family: "Raleway";
    font-weight: bold;
    text-transform: uppercase;
    line-height: 1.5;
    padding-top: 30px;

}

.menu ul li {
    display: inline-block;
    list-style: none;
    padding: 0 12px;
}

.menu ul li a {
    text-decoration: none;
    color: #606060;
}

.menu ul li a:hover {

    width: 103px;
    border-radius: 4px;
    background-color: #00a99d;
    box-sizing: border-box;
    padding: 10px;
}

header {
    border-bottom: 1px solid #dedede;
    float: left;
    width: 100%;
    padding-bottom: 20px;
}

.title {
    width: 100%;
    display: inline-block;
    text-align: center;
}

.green-color {
    color: #00a99d;
}

.title h3 {
    font-size: 26px;
    font-family: "Raleway";
    color: rgb(56, 56, 56);
    font-weight: bold;
    text-transform: uppercase;
    line-height: 0.769;
    text-align: center;
    display: inline-block;
    margin-top: 33px;
    position: relative;
    max-width: 20%;
}

.title h3:before {
    content: "";
    display: block;
    position: absolute;
    background-image: url(../images/left-shape.png);
    background-repeat: no-repeat;
    width: 28px;
    height: 15px;
    left: -38px;
}

.title h3:after {
    content: "";
    display: block;
    position: absolute;
    background-image: url(../images/right-shape.png);
    background-repeat: no-repeat;
    width: 28px;
    height: 15px;
    right: -38px;
    top: 2px;
}

.left-line {
    display: block;
    float: left;
    background-image: url(../images/left-line.png);
    background-repeat: no-repeat;
    height: 13px;
    display: inline-block;
    margin-top: 38px;
    width: 33%;
    background-size: 100% auto;
    margin-right: 40px;
    box-sizing: border-box;
}

.right-line {
    background-image: url(../images/right-line.png);
    background-repeat: no-repeat;
    height: 13px;
    display: inline-block;
    width: 33%;
    margin-left: 30px;
    float: right;
    margin-top: 40px;
}

.title-p {
    font-size: 16px;
    font-family: "Raleway";
    color: rgb(138, 138, 138);
    line-height: 1;
    text-align: center;
    margin: 0;
}

.we-offer {
    float: left;
    display: inline;
    padding-top: 45px;
}

.we-offer h3 {
    font-size: 14px;
    font-family: "Raleway";
    color: rgb(96, 96, 96);
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
}

.we-offer p {
    font-size: 14px;
    font-family: "Raleway";
    color: rgb(122, 122, 122);
    line-height: 1.714;
    text-align: center;
}

.offers {
    float: left;
    padding: 0 13px;
}

.offers img {
    text-align: center;
    padding-left: 135px;
}

.offers h5 {
    font-size: 10px;
    font-family: "Raleway";
    color: #8a8a8a;
    font-weight: bold;
    text-transform: uppercase;
    width: 80px;
    margin-left: 141px;
    padding: 10px;
}

.offers h5:hover {
    border-radius: 4px;
    background-color: #00a99d;
    color: #ffffff;
    width: 80px;
    box-sizing: border-box;
    padding: 10px;
}