body {
    margin: 0 auto;
}

@font-face {
    font-family: 'Raleway';
    src: url("../font/raleway/Raleway-Regular.ttf");
}

.home {
    width: 100%;
    height: auto;
    float: left;
    background-image: url("../images/cover.png");
}

.container {
    width: 1170px;
    margin: 0 auto;
}

.home-text {
    float: left;
    clear: left;
    margin-top: 220px;
}

.home-text h4 {
    font-size: 18px;
    font-family: "Raleway";
    color: #383838;
    text-transform: uppercase;
    margin: 0;
    text-align: center;
}

.home-text h1 {
    font-size: 64px;
    font-family: "Raleway";
    color: #383838;
    text-transform: uppercase;
    margin: 0;
    padding: 2px;
}

.home-text-h3 {
    font-size: 17px;
    font-family: "Raleway";
    color: #e4e4e4;
    border-radius: 4px;
    background-color: #333333;
    width: 622px;
    box-sizing: border-box;
    padding: 10px;
    margin: 0;
}

.start-doing {
    float: left;
    clear: left;
}

.start-doing h3 {
    font-size: 26px;
    font-family: "Raleway";
    color: #383838;
    text-transform: uppercase;
    line-height: 0.769;
    margin: 0;
    float: left;
    padding-top: 55px;
}

.start-doing ul li {
    list-style: none;
    display: inline-block;
    margin-right: -8px;
}

.start-doing-left {
    float: left;
    margin: 0;
}

.start-doing-left ul {
    float: left;
    margin: 0;
    padding-top: 55px;
    padding-left: 12px;
    padding-right: 17px;
}

.left-img {
    float: left;
    padding-top: 61px;
}

.start-doing-right {
    float: left;
}

.start-doing-right ul {
    float: left;
    margin: 0;
    padding-top: 55px;
    padding-left: 12px;
}

.right-img {
    padding-top: 61px;
    padding-left: 18px;
}

.scroll-icon {
    float: left;
    clear: left;
    padding-left: 280px;
    padding-bottom: 220px;
    padding-top: 55px;
}

.logo {
    float: left;
    padding-top: 33px;
}

.menu {
    float: right;
    clear: right;
    font-size: 14px;
    font-family: "Raleway";
    font-weight: bold;
    text-transform: uppercase;
    line-height: 1.5;
    padding-top: 30px;
}

.menu ul li {
    display: inline-block;
    list-style: none;
    padding: 0 12px;
}

.menu ul li a {
    text-decoration: none;
    color: #606060;
}

.menu ul li a:hover {
    width: 103px;
    border-radius: 4px;
    background-color: #00a99d;
    box-sizing: border-box;
    padding: 10px;
}

header {
    border-bottom: 1px solid #dedede;
    float: left;
    width: 100%;
    padding-bottom: 20px;
}

.what-we-offer {
    float: left;
    width: 100%;
}

.title {
    width: 100%;
    display: inline-block;
    text-align: center;
}

.green-color {
    color: #00a99d;
    text-transform: uppercase;
    font-family: "Raleway";

}

.title h3 {
    font-size: 26px;
    font-family: "Raleway";
    color: rgb(56, 56, 56);
    font-weight: bold;
    text-transform: uppercase;
    line-height: 0.769;
    text-align: center;
    display: inline-block;
    margin-top: 33px;
    position: relative;
    max-width: 26%;
}

.title h3:before {
    content: "";
    display: block;
    position: absolute;
    background-image: url(../images/left-shape.png);
    background-repeat: no-repeat;
    width: 28px;
    height: 15px;
    left: -38px;
}

.title h3:after {
    content: "";
    display: block;
    position: absolute;
    background-image: url(../images/right-shape.png);
    background-repeat: no-repeat;
    width: 28px;
    height: 15px;
    right: -38px;
    top: 2px;
}

.left-line {
    display: block;
    float: left;
    background-image: url(../images/left-line.png);
    background-repeat: no-repeat;
    height: 13px;
    display: inline-block;
    margin-top: 38px;
    width: 32%;
    background-size: 100% auto;
    margin-right: 40px;
    box-sizing: border-box;
}

.right-line {
    background-image: url(../images/right-line.png);
    background-repeat: no-repeat;
    height: 13px;
    display: inline-block;
    width: 32%;
    margin-left: 30px;
    float: right;
    margin-top: 40px;
}

.title-p {
    font-size: 16px;
    font-family: "Raleway";
    color: #8a8a8a;
    line-height: 1;
    text-align: center;
    margin: 0;
}

.we-offer {
    float: left;
    display: inline;
    padding-top: 45px;
}

.we-offer h3 {
    font-size: 14px;
    font-family: "Raleway";
    color: #606060;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
}

.we-offer p {
    font-size: 14px;
    font-family: "Raleway";
    color: #7a7a7a;
    line-height: 1.714;
    text-align: center;
}

.offers {
    float: left;
    padding: 0 13px;
}

.offers img {
    text-align: center;
    padding-left: 135px;
}

.offers h5 {
    font-size: 10px;
    font-family: "Raleway";
    color: #8a8a8a;
    font-weight: bold;
    text-transform: uppercase;
    width: 80px;
    margin-left: 141px;
    padding: 10px;
}

.offers h5:hover {
    border-radius: 4px;
    background-color: #00a99d;
    color: #ffffff;
    width: 80px;
    box-sizing: border-box;
    padding: 10px;
}

.key {
    position: relative;
    z-index: 1;
    top: 30px;
    left: 550px;
}

.features {
    background-color: #383838;
    float: left;
    width: 100%;
    padding-top: 41px;
}

.white {
    color: #e4e4e4;
}

.landscape {
    background-image: url(../images/iPad-Air-Silver1.png);
    width: 480px;
    height: 325px;
    position: relative;
    z-index: 2;
    left: 97px;
    top: 167px;
    float: right;
}

.landscape img {
    box-sizing: border-box;
    padding-left: 55px;
    padding-top: 20px;
}

.portant {
    background-image: url(../images/iPad-Air-Silver.png);
    width: 339px;
    height: 450px;
    position: relative;
    z-index: 1;
    float: right;
    left: 0px;
    top: 53px;
}

.portant img {
    box-sizing: border-box;
    padding-left: 33px;
    padding-top: 28px;
}

.features-item {

    float: left;
    clear: left;
    padding-left: 10px;
}

.item {
    padding-top: 33px;
}

.item h4 {
    font-size: 14px;
    font-family: "Raleway";
    color: #e4e4e4;
    font-weight: bold;
    text-transform: uppercase;
    text-align: left;
    margin: 0;
    padding: 23px 60px;
}

.item p {
    font-size: 14px;
    font-family: "Raleway";
    color: #7a7a7a;
    line-height: 1.714;
    text-align: left;
    margin: 0;
    box-sizing: border-box;
    padding-left: 59px;
}

.item img {
    float: left;
    clear: left;
    padding-top: 40px;
}

.more-features {
    float: left;
    background-color: white;
    width: 100%;
    position: relative;
    z-index: 4;
    padding-bottom: 70px;
}

.more-item {
    float: left;
    padding-left: 66px;
    padding-top: 48px;
}

.more-item h3 {
    font-size: 15px;
    font-family: "Raleway";
    color: #606060;
    font-weight: bold;
    text-transform: uppercase;
    text-align: left;
    box-sizing: border-box;
    padding-left: 59px;
    padding-top: 33px;
    margin: 0px;
}

.more-item h4 {
    font-size: 12px;
    font-family: "Raleway";
    color: #7a7a7a;
    text-align: left;
    margin: 0;
    box-sizing: border-box;
    padding-left: 59px;
    padding-top: 8px;
}

.more-item p {
    font-size: 14px;
    font-family: "Raleway";
    color: #7a7a7a;
    line-height: 1.5;
    box-sizing: border-box;
    padding-left: 59px;
}

.more-item img {
    float: left;
    clear: left;
    padding-top: 40px;
}

.skills {
    background-color: #383838;
    float: left;
    width: 100%;
    padding-top: 27px;
    position: relative;
}

.skills:before {
    content: "";
    background: url(../images/section-icon.png) no-repeat;
    background-size: 100% auto;
    width: 50px;
    height: 50px;
    position: absolute;
    top: -25px;
    left: 50%;
    z-index: 6;
}

.circle-item {
    padding: 40px 40px 30px 0;
}

.circle-item li {
    display: inline-block;
    text-decoration: none;
    padding-right: 45px;
}

.circle-item h4 {
    font-size: 14px;
    font-family: "Raleway";
    color: rgb(138, 138, 138);
    font-weight: bold;
    text-transform: uppercase;
    line-height: 1;
    text-align: center;
    margin: 0;
    padding-top: 10px;
}

.circle-item img {
    box-sizing: border-box;
    padding-left: 14px;
}

.sample-works {
    float: left;
    clear: left;
    width: 100%;
    padding-top: 15px;
    padding-bottom: 45px;
}

.works-img {
    margin: 0 auto;
    padding-top: 50px;
    width: 100%;
}

.works-img ul {
    padding: 0px;
    margin: 0;
}

.works-img ul li {
    position: relative;
    text-decoration: none;
    width: 16.6%;
    float: left;
    display: block;
}

.works-img ul li img {
    max-width: 100%;
    border-radius: 6px;
}

.hidden-field {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #25e3d58f;
    display: none;
}

.works-img li:hover .hidden-field {
    display: block;
    color: white;
}

.view-all {
    float: left;
    width: 100%;
}

.view-all h4 {
    font-size: 13px;
    font-family: "Raleway";
    color: rgb(228, 228, 228);
    font-weight: bold;
    text-transform: uppercase;
    line-height: 1.5;
    border-radius: 5px;
    background-color: rgb(0, 169, 157);
    width: 100%;
    box-sizing: border-box;
    padding-left: 48%;
    padding-top: 17px;
    padding-bottom: 12px;
}

.company-facts {
    width: 100%;
    float: left;
    background-color: #383838;
    position: relative;
    padding-top: 50px;
}

.company-facts:before {
    content: "";
    background: url(../images/section-icon.png) no-repeat;
    background-size: 100% auto;
    width: 50px;
    height: 50px;
    position: absolute;
    top: -25px;
    left: 50%;
    z-index: 6;
}

.fact {
    float: left;
    padding: 60px 0;
}

.fact-item {
    float: left;
    padding: 0 58px 0 96px;
}

.fact-item h3 {
    font-size: 80px;
    font-family: "Raleway";
    color: rgb(228, 228, 228);
    text-transform: uppercase;
    text-align: center;
    position: relative;
    margin: 0;
    padding-bottom: 13px;
}

.fact-item h3:before {
    content: "";
    position: absolute;
    background-image: url(../images/shape_img-1.png);
    background-repeat: no-repeat;
    width: 13px;
    height: 13px;
    top: 44px;
    left: -28px;
}

.fact-item h3:after {
    content: "";
    position: absolute;
    background-image: url(../images/shape_img-1.png);
    background-repeat: no-repeat;
    width: 13px;
    height: 13px;
    top: 44px;
    right: -25px;
}

.line-img {
    position: relative;
    text-align: center;
}

.line-img:before {
    content: "";
    position: absolute;
    background-color: #606060;
    width: 96px;
    height: 1px;
    right: 96px;
    top: 9px;
}

.line-img:after {
    content: "";
    position: absolute;
    background-color: #606060;
    width: 95px;
    height: 1px;
    left: 92px;
    top: 9px;
}

.fact h2 {
    font-size: 14px;
    font-family: "Raleway";
    color: rgb(96, 96, 96);
    font-weight: bold;
    text-transform: uppercase;
    line-height: 1;
    text-align: center;
}

.contact-us {
    width: 100%;
    float: left;
    background-color: #00a99d;
}

.contact-us h2 {
    font-size: 16px;
    font-family: "Raleway";
    color: rgb(228, 228, 228);
    font-weight: bold;
    text-transform: uppercase;
    text-align: left;
    float: left;
    padding-top: 12px;
}

.contact-us-button {
    float: right;
    padding-left: 2px;
}

.contact-us-button h1 {
    display: inline-block;
    font-size: 13px;
    font-family: "Raleway";
    color: rgb(96, 96, 96);
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    position: relative;
    border-radius: 4px;
    background-color: rgb(228, 228, 228);
    width: 150px;
    box-sizing: border-box;
    padding: 16px 0;
}

.team {
    width: 100%;
    float: left;
    padding-top: 32px;
}

.team-member {
    float: left;
    padding: 60px 0;
}

.members {
    float: left;
    padding-right: 20px;
}

.members-info {
    border: 1px solid #dedede;
    position: relative;
    top: -5px;
}

.name {
    font-size: 13px;
    font-family: "Raleway";
    color: rgb(228, 228, 228);
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    position: relative;
    border-radius: 4px;
    background-color: rgb(0, 169, 157);
    width: 136px;
    height: 40px;
    z-index: 9;
    top: -23px;
    left: 62px;
    margin: 0;
    box-sizing: border-box;
    padding-top: 11px;
}

.ceo {
    font-size: 12px;
    font-family: "Raleway";
    color: rgb(96, 96, 96);
    line-height: 1.833;
    text-align: center;
    border-bottom: 1px solid #eae5e5;
    width: 50%;
    position: relative;
    left: 63px;
    margin: 0;
}

.email {
    font-size: 16px;
    font-family: "Raleway";
    line-height: 2;
    text-align: center;
    position: relative;
}

.email a {
    color: rgb(170, 170, 170);
    text-decoration: none;
}

.email:before {
    content: "";
    position: absolute;
    background-image: url(../images/msg.png);
    width: 17px;
    height: 14px;
    left: 15px;
    bottom: 8px;
}

.number {
    font-size: 16px;
    font-family: "Raleway";
    color: rgb(170, 170, 170);
    line-height: 2;
    text-align: center;
    position: relative;
    margin: 0;
}

.number:before {
    content: "";
    position: absolute;
    background-image: url(../images/phone.png);
    width: 16px;
    height: 14px;
    left: 30px;
    bottom: 9px;
}

.quotes {
    float: left;
    clear: left;
    background-color: #00a99d;
    width: 100%;
    position: relative;
}

.quotes:before {
    content: "";
    position: absolute;
    background-image: url(../images/quotes.png);
    width: 55px;
    height: 55px;
    left: 50%;
    top: -25px;
}

.quotes-button {
	float: left;
	clear: left;
    border-radius: 4px;
    background-color: rgb(228, 228, 228);
    width: 247px;
    height: 40px;
    font-size: 13px;
    font-family: "Raleway";
    color: #c5c5c5;
    font-weight: bold;
    text-align: center;
    position: relative;
    left: 40%;
    top: 50px;
    box-sizing: border-box;
    padding-top: 12px;
}

.quotes-text {
    font-size: 20px;
    font-family: "Raleway";
    color: rgb(228, 228, 228);
    line-height: 1.7;
    text-align: center;
    float: left;
    padding: 40px 0;

}
.quotes-img {
	float: left;
    clear: left;
    position: relative;
    left: 50%; 
    padding-bottom: 50px;

}
.clients {
	width: 100%;
	background-color:#383838;
	float: left;
}
.clients-work{
	float: left;
	display: inline-block;

}
.clients-work ul li {
	display: inline-block;
	list-style: none;
	
}
.clients-work{
	
}
